.navigation{
    background-color: white;
}

.bouton{
    margin: 5px 100px;
    text-decoration: none;
    transition: transform 0.2s;
    color: black;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Bebas Neue', cursive;
    opacity: 80%;
}

.bouton:before{
    content: attr(data-text);
}

.bouton:hover{
    transform: translateY(-20%);
}

.bouton:visited{
    text-decoration: none;
}