.formContainer{
    border: solid 2px black;
    padding: 20px;
    margin: 20px;
}

.nomFormation{
    margin: 10px;
}

.formationCat{
    margin: 10px;
}

.formationName{
    font-family: 'Bebas Neue', cursive;
}

#formationName{
    width: 100%;
}

#description{
    width:100%;
}

#descriptionDetail{
    width: 100%;
    height: 150px;
}