.big-title {
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 30px 0;

}

.flex, .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.about{
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border: 1px solid;
}

.about p{
    padding: 0 10px;
}

.img{
    margin-left: 15px;
}

.ambition{
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border: 1px solid;
}

.ambition p{
    padding: 0 10px;
    margin-right: 5px;
}
