.category{
    display:flex;
    flex-direction: row;
}

.filter-container {
    display: flex;
    flex-flow: row;
    margin-bottom: 40px;
}

.filter-buttons button {
  margin: 10px 0px 0px 9px;
  width: 50px;
  height: 3.6em; 
  color: white;
  background-color: #3794eb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filter-buttons button svg{
  color: white;
  translate: -2px;
  cursor: pointer;
}

select {
    /* Reset Select */
    display: flex;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    font-weight: 700;
    background-color: #3794eb;
    background-image: none;
    cursor: pointer;
  }

  /* Custom Select wrapper */
  .select {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #3794eb;
    transition: .25s all ease;
    pointer-events: none;
  }