td{
    text-align: center;
    padding: 3px;
}

.Checked:hover{
    background-color: green;
    cursor: pointer;
}

.Edit:hover{
    background-color: #3794eb;
    cursor: pointer;
}

.Delete:hover{
    background-color: #ee0e0e;
    cursor: pointer;
}