.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 44, 52);
    color: #3794eb;
    border-bottom: 5px solid rgba(66, 145, 182, 0.877);
}

.banner img {
    height: 150px;
    margin: 10px 150px 10px 10px;
    padding: 5px;
    border: 3px solid;
}

.header h1{
    text-align: center;
    margin-top: 0;
}

.banner .head_login {
    margin-right: 20px;
}

.banner .head_login button {
    margin: 20px 20px 20px 0;
    width: 7vw;
    padding: 2px;
    height: 50px;
    color: white;
    background-color: rgba(66, 182, 124, 0.877);
    border: 1px solid rgba(255, 255, 255, 0.877);
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.banner .head_login button:hover {
    margin: 20px 20px 20px 0;
    width: 7vw;
    padding: 2px;
    height: 50px;
    color: white;
    background-color: rgba(54, 145, 99, 0.877);
    border: 1px solid rgba(255, 255, 255, 0.877);
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

/* TEST */

  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }