#admin_view {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
}

#admin_view h1 {
    text-align: center;
    margin: 50px 0 20px 0;
}

#admin_view .shadow {
    display: flex;
    justify-content: center;
}

#admin_view  .shadow div {
    width: 12vw;
    height: 20px;
    border-top: #3794eb solid;
    margin-bottom: 20px;
}