.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-family: 'League Spartan', sans-serif;
    background-color: rgb(40, 44, 52);
    color: white;
    height: 30px;
    border-top: 5px solid rgba(66, 145, 182, 0.877);
    text-align: center;
    padding-top: 10px;
}